html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 62.5%; */
    
    background-color: rgb(209, 218, 247);
}

form{
    display: grid;
    grid-template-columns: max-content minmax(100px,400px);
    justify-content: left;
    align-items: center;

}

input{
    margin: 10px 20px;
    padding: 5px;
}

.submit{
    grid-column-start: -2 ;
    justify-self: end;
}

.submit input[type=submit]{
    background-color: skyblue;
    border: none;
    padding: 10px 40px;
    border-radius: 8px;
    width: max-content;
    cursor:pointer;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#category_dashboard{
    margin: 10px 20px;
    padding: 5px;
}
.show{
    display: flex;
    border: 1px solid red;
    width: max-content;
    padding: 10px;
}

.show p{
    margin-left: 10px;
}

/* Side Bar */

.sidebar{
    padding: 08px;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: rgb(209, 218, 247);
    height: 100vh;
    width: 250px;
    margin: 10px 0;
    border: none !important;
    outline: none !important;
    stroke: none !important;
   
    

}


.avtar{

    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    flex-direction: column;
    height: 100%;

}

.sh{
    border-bottom: 3px solid rgb(209, 218, 247);
    margin: 40px 0;
    padding-bottom: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    color: rgb(107, 97, 97);
    font-weight: 500;
}

.grid_list{
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-content: center;
    align-items: center;
    font-weight: bold !important;
    color: rgb(107, 97, 97);

}

.active{
    color: rgb(117, 18, 199) !important;
}


.sidebar_main{
    background-color: red;
}

.profile_img{
    border: 2px solid;
    border-radius: 50%;
    padding: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center
}